<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
    <div>
    	<h4>Menu</h4>
    	<div>
			<a th:href="@{/character/new}">Crea Personaggio</a>
   		</div>
   		<div>
			<a th:href="@{/userCharacters}">Personaggi Creati</a>
   		</div>
		<div>
			<a th:href="@{/admin/users}">Elenco utenti</a>
   		</div>
   		<div>
			<a th:href="@{/admin/characters}">Elenco Personaggi</a>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>