<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width", initial-scale="1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <link href="css/my-style.css" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
    <header th:fragment="headerUser" class="alert alert-primary d-flex justify-content-end" style="font-size:90%">
        <form th:action="@{/login}" method="POST">
			<span>
				Username:
				<input name="username" type="text" required />
			</span>		
			<span>
				Password:
				<input name="password" type="password" required />
			</span>
			<span>
				<button type="submit">Login</button>
			</span>
	    </form>&nbsp;&nbsp;&nbsp;
	    <span>Oppure <span><a href="/register">Registrati</a></span></span>
    </header>
	<footer th:fragment="fondo(home)">
		<a th:href="@{${home}}">Home</a>
	</footer>
</body>
</html>