<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='OC Universe')"> </head>

<body>
    <header th:replace="fragments/base.html :: headerUser"></header>
	<h1 th:text="'Aggiungi un nuovo capitolo alla storia di ' + ${character.name}"></h1>
	
	<form th:action="@{'/chapter/' + ${character.id}}" method="POST" th:object="${chapter}">
		<div th:if="${#fields.hasGlobalErrors()}">
			  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<input type="hidden" th:field="*{id}" th:value="${chapter.id}" />
		<div>
			<span>Titolo:<input type="text" th:field="*{title}" required /></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		</div>
		<br>
		<div>
		    <div>Storia:</div>
			<textarea name="news_content" rows="10" cols="80" th:field="*{content}" />
		</div>
		<div>
			<span><button class="btn btn-primary" type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>