<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Catering Service')"> </head>

<body>
		<div class="border">
			<h4 th:text="${character.name}"></h4>
			<span th:text="${character.description}"></span>
			<a th:href="@{'/character/edit/' + ${character.id}}">Modifica</a>
		    &nbsp;
			<a th:href="@{'/character/delete/' + ${character.id}}">Cancella</a>
		</div>
	    <div style="height:300px">
	        <img class="h-100" th:src="@{${image}} " />
	    </div>
	    <h4>Storia</h4>
	    <div th:if="${not #lists.isEmpty(character.story)}">
	        <ol>
	    <li th:each="chapter : ${listChapters}">
	        <a th:href="@{'/chapter/' + ${chapter?.id}}" th:text="${chapter?.title}" />
	        <a class="btn btn-success" th:href="@{'/chapter/edit/' + ${chapter?.id}}">Modifica</a>
		    &nbsp;
		    <a class="btn btn-danger" th:href="@{'/chapter/delete/' + ${chapter?.id}}">Cancella</a>
		</li>
    </ol>
		</div>
		<div th:unless="${not #lists.isEmpty(character.story)}">
		    <h5>Nessuno capitolo scritto</h5>
		</div>
		<div>
			<a th:href="@{'/chapter/new/' + ${character.id}}">Scrivi un nuovo capitolo della sua storia</a>
   		</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>

</html>