<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Multivertopia')"> </head>
<body class="bg-image">
    <header th:replace="fragments/base.html :: headerUser"></header>
    <div class="backgroundContainer container d-flex flex-column justify-content-center align-items-center border border-2 rounded-3">
    	    <h1>Benvenuto su Multivertopia</h1>
    	    <p style="text-align: center;">Su questo sito potrai creare e condividere i tuoi personaggi 
    	    originali con utenti da tutto il mondo.</p>
    </div>
    <br>
    <th:block sec:authorize="!isAuthenticated()">
        <div class="backgroundContainer container d-flex flex-column justify-content-center align-items-center border border-2 rounded-3">
    	    <h5 style="text-align: center;">Crea subito un nuovo account per esplorare nuove idee!</h5>
        </div>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <div class="backgroundContainer container d-flex flex-column justify-content-center align-items-center border border-2 rounded-3">
    	    <h5 style="text-align: center;">Dai un'occhiata ai nuovi personaggi creati questa settimana</h5>
    	    <div class="container d-flex flex-row flex-wrap">
    	        <th:block th:each=" character : ${listCharacter}">
    	            <a class="characterList" th:href="@{'/character/' + ${character.id}}">
    	                <div class="characterContainer container border border-1 rounded-3">
    	                    <h5 th:text="${character.name}" style="display:inline;" />
    	                    <img class="img-fluid" th:src="@{'/user-pics/' + ${character.user.id} + '/' + ${character.pic}} " />
    	                    <h6 th:text="'created by ' + ${character.user.name}" />
    	                </div>
    	            </a>
    	        </th:block>
    	    </div>
        </div>
    </th:block>
</body>
</html>