<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Multivertopia')"> </head>
<body class="bg-image">
    <header th:replace="fragments/base.html :: headerUser"></header>
    <div class="backgroundContainer container d-flex flex-column justify-content-center align-items-center border border-2 rounded-3">
    	    <h1>Benvenuto su Multivertopia</h1>
    	    <p style="text-align: center;">Su questo sito potrai creare e condividere i tuoi personaggi 
    	    originali con utenti da tutto il mondo.</p>
    </div>
    <br>
    <div class="backgroundContainer container d-flex flex-column justify-content-center align-items-center border border-2 rounded-3">
    	    <h5 style="text-align: center;">Dai un'occhiata ai nuovi personaggi creati questa settimana</h5>
    </div>
</body>
</html>